* {
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}
.body {
  background-color: #e8e8e8;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: Inter, sans-serif;
  font-weight: 400;
}
